html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-column .card-body {
    height: 100px;
    font-family: "Nunito", sans-serif;
    background: #fbfafd;
}

.card-column .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}